.root{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.display{
  width: 100%;
  height: 100%;
}

.item {
  width: 200px;
  height: 150px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.8s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 100%;
  transform: translate(0, -50%);
  clip-path: polygon(
    0 20px,
    20px 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% 100%,
    0% 100%
  );
  box-shadow: 0 30px 50px #505050;
  overflow: hidden;
}
.item:nth-child(1) {
  left: -5%;
}
.item:nth-child(2) {
  clip-path: polygon(
    0 0, 100% 0, 100% 100%, 0 100%
  );
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
.item:nth-child(3) {
  left: 60%;
}
.item:nth-child(4) {
  left: calc(60% + 220px);
}
.item:nth-child(5) {
  left: calc(60% + 440px);
}
.item:nth-child(n + 6) {
  left: calc(60% + 660px);
  opacity: 0;
}
.item .content {
  position: absolute;
  top: 50%;
  right: 100px;
  width: 300px;
  text-align: left;
  padding: 0;
  color: #eee;
  opacity: 0;
  transform: translate(0, -50%);
  transition: opacity 1s ease-in-out;
  display: block;
}
.item:nth-child(2) .content {
  display: block;
  opacity: 1;
  z-index: 11111;
}
.item .name {
  font-size: 50px;
  font-weight: bold;
}
.item .des {
  font-size: 13px;
  margin: 20px 0;
}
.item button {
  padding: 10px 20px;
  border: none;
}
@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}
@keyframes hidecontent {
  from {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
  to {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
}
.buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}
.goto {
  width: 70px;
  height: 100vh;
  line-height: 100vh;
  transition: 0.5s;
  background-color: transparent;
  border: none;
  overflow: hidden;
  position: relative;
}
.goto img{
  position: relative;
  z-index: 10;
  width: 70px;
}
.shadow{
  width: 50vw;
  height: 200vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: 0.5s;
}
.goto:first-child .shadow{
  left: 0;
  box-shadow: inset 10px 0px 50px rgba(0, 0, 0, 0.7);
}
.goto:nth-child(2) .shadow{
  right: 0;
  box-shadow: inset -10px 0px 50px rgba(0, 0, 0, 0.7);
}
.goto:hover .shadow {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.scroll{
  z-index: 20;
  position: absolute;
  bottom: 80px;
  right: 0;
}

.scrollline{
  width: 4px;
  height: 200px;
  background-color: rgb(255, 255, 255, 0.4);
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.scroller{
  width: 12px;
  height: 48px;
  border-radius: 2px;
  background-color: rgba(255,255,255,1);
  position: absolute;
  right: 16px;
  bottom: 176px;
  animation: scrolling 5s infinite;
}

@keyframes scrolling{
  from{
    transform: translateY(0);
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  30%{
    transform: translateY(0);
  }
  70%{
    transform: translateY(160px);
  }
  80%{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translateY(160px);
  }
}

.scroll p{
  color: white;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}