.root{
  width: 100vw;
  height: 120px;
  position: fixed;
  z-index: 999;
  font-family: 'Wemakeprice-Regular';
  transition: background-color 0.3s;
}

.root:hover{
  background-color: rgba(0, 0, 0, 0.7);
}

.divider{
  width: 2px;
  height: 30px;
  background-color: lightslategray;
}

.toolbar{
  background-color: black;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  color: white;
}

.alert{
  width: 100%;
  line-height: 40px;
  position: absolute;
  text-align: center;
}

.icon{
  width: 24px;
  height: 24px;
  margin: 8px;
}

.drop{
  width: 24px;
  height: 24px;
  margin: 8px 0;
  margin-right: 10px;
}

.lang{
  display: flex;
  align-items: center;
}

.currency{
  display: flex;
  align-items: center;
}

.header{
  display: flex;
  padding: 0 20px;
  width: 100%;
  height: 80px;
  align-items: center;
}

.logowrap{
  margin-left: 50px;
  height: 40px;
  flex: 1;
}
.logo{
  height: 40px;
}

.nav>ul{
  display: flex;
}

.nav li{
  list-style: none;
  margin: 0 20px;
}

.nav a{
  font-family: "Wemakeprice-Regular";
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.nav a:hover{
  color: red;
}

.menu{
  margin: 0 50px;
}

.menu img:first-child{
   margin-right: 20px;
   fill: white;
}