.root{
  width: 100vw;
  background-color: black;
  padding: 100px 0;
}

.title{
  padding-left: 100px;
}

.category {
  display: flex;
  margin-right: 100px;
  margin-top: 50px;
  border: 1px solid var(--red);
  border-left: none;
}

.category:nth-child(2){
  flex-direction: row-reverse;
  margin-left: 100px;
  margin-right: 0;
  border: 1px solid var(--red);
  border-right: none;
}

.category img{
  flex: 1;
  height: 300px;
  object-fit: cover;

}

.category div{
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 40px;
  justify-content: space-between;
}

.category h2{
  font-size: 40px;
  text-align: center;
  color: var(--yellow);
}

.category button{
  width: 100%;
  height: 50px;
  border: 1px solid var(--red);
  background-color: transparent;
  color: var(--red);
  font-size: large;
  transition: 0.3s;
}

.category button:hover{
  background-color: var(--red);
  color: var(--yellow);
}