*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Wemakeprice-Regular';
  --red: #de2a22;
  --green: #1f853b;
  --blue: #005dab;
  --yellow: #f5d11e;
  --brown: #70321b;
}

@font-face {
  font-family: 'Wemakeprice-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}