.root {
  position: relative;
  overflow: hidden;
}

.back {
  display: flex;
  opacity: 0.4;
}

.item {
  mask-repeat: no-repeat;
  flex: 0 0 auto;
}

.title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 20px;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}